<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Monkey Pox !</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit provident aperiam nulla, sint nihil ullam doloribus dolorem veritatis omnis nemo esse adipisci iusto inventore eius tenetur quod perspiciatis itaque corrupti facilis dolorum nesciunt error cum, animi accusantium! Recusandae consequuntur necessitatibus animi iusto commodi. Possimus quia magni laudantium facere, dicta fugiat.</p>
</body>
</html>