.container{
    border: 2px solid black;
    width: 90vw;
    margin: 0 auto;
}

@media (max-width:800px){
    .container{
        width: 50vw;
    }
}

@media(max-width:500px){
    .container{
        width:30vw;
    }
}